{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    {% block header %}

        {% include 'includes/navbar.html.twig' %}

    {% endblock %}
    {% block content %}
        <!-- Page content holder -->
        <div class="page-content p-5" id="content">
            <!-- Demo content -->
            <div class="separator"></div>
            <main class="worker-form">
                <div class="cotainer">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            {% for message in app.session.flashbag().get('message') %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endfor %}
                            <div class="card card-list">
                                <div class="table-responsive">
                                    <table id="mytable" class="table table-bordred table-striped">
                                        <thead>
                                            <th>id</th>
                                            <th>username</th>
                                            <th>email</th>
                                            <th>created at</th>
                                            <th>updated at</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>Create</th>
                                        </thead>
                                        <tbody>
                                        {% for worker in my_pager.currentPageResults %}
                                            <tr>
                                                <td>{{ worker.id }}</td>
                                                <td>{{ worker.username }}</td>
                                                <td>{{ worker.email }}</td>
                                                <td>{{ worker.createdAt|date('Y-m-d') }}</td>
                                                <td>{{ worker.updatedAt|date('Y-m-d') }}</td>
                                                <td><a href="{{ path('profile', {'id':worker.id})  }}" class="btn btn-info" role="button">Edit</a></td>
                                                {% if app.user.id != worker.id  %}
                                                    <td><a href="{{ path('delete_worker', {'id': worker.id}) }}" class="btn btn-danger" role="button">Delete</a></td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                {% for machine in worker.getMachines()|slice(0,1) %}
                                                    <td><a href="{{ path('create_piece', {'id':worker.id, 'role':worker.role})  }}" class="btn btn-success" role="button">Create</a></td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                    <div class="pagerfanta">
                                        {{ pagerfanta(my_pager, 'twitter_bootstrap4') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- End demo content -->
    {% endblock %}
{% endblock %}